

body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    color:#8f8f8f;
}

/* Heading */

.big-heading{
  
    font-size: 3.5rem;
    line-height: 1.5;
    color:white;
    margin-top: 50px;
    
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* constainer */

.container-fluid{
    padding: 7% 15%;
}
 

/* novegation bar */

.navbar-brand{

    font-family: 'Roboto', sans-serif;
    font-size:2rem;
}

.navbar{
    padding-bottom:0 0 4.5rem ;
}

.nav-item {
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;

}

/* download=botton */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title  section */

#title {
    background-color:#ff4c68;
    text-align: left;
    
}

#title .container-fluid{
    padding: 3% 7% 15%;
}

/* title image */

.title-image{
    margin-top: 60px;
    right: 25%;
    width: 20.5%;
    transform: rotate(25deg);
    position:absolute
}

/* Features section */

#features {
    background-color: white;
    position:relative;  
}

.features-title{
    font-size: 1.4rem;
}

.feature-box{
    padding: 4.5%;
}

.icon{
    color:#ef8172 ;
    margin-bottom: 1rem ;
}
.icon:hover{
    color:#ff4c68;
}

/* testimoial section */

#testimonials{
    background-color: #ef8172 ;
    color: #fff;

}

.testimonials-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width:10% ;
    border-radius: 100%;
    margin: 20px;
}


#press{
    background-color: #ef8172 ;
    padding-bottom: 3%;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 15px;
}

/* pricing section */

#pricing{
    padding: 100px;
}

.price-text{
    text-align: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    padding: 5% 10%;
    color:#fff;
}

/* footer section */


.social-icon {
    margin: 20px  10px;
}


@media (max-width: 990px){
     #title{
        text-align: center;
     }

    .title-image{
       position: static;
       transform: rotate(0);
       width: 300px;

    }

}
